@font-face {
    font-family: Muli;
    src: url("../fonts/Muli-Light.ttf");
}
.CheckoutPage{
    width: 74%;
    height: auto;
    margin: 30px auto 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.CheckoutPage p a{
    font-size: 15px;
    color:#000;
}
.CheckoutPage p a:hover{
    color:#ed0a21;
    transition: 0.2s;
}

/* containers */
.containers {
    width: 74%;
    height: auto;
    margin: 30px auto 80px;
    display: flex;
    justify-content: space-between;
}
.right-container {
    flex-basis: 78%;
}
.forms-checkout{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.forms-checkout .left_form{
    flex-basis: 50%;
}
.forms-checkout .left_form h4{
    font-size: 20px;
    margin-bottom: 30px;
}
.form_group{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form_group .left-input, .right-input{
    flex-basis: 48%;
}
.form-tema{
    width: 100%;
    margin-top: 13px;
}
.form_group .left-input input{
   height: 40px;
}
.form_group .right-input input{
    height: 40px;
 }
 .form-tema input{
     height: 40px;
 }
 .form_group input::placeholder{
    font-size: 12px ;
}
.form_group textarea::placeholder{
    font-size: 13px ;
}
 .form-label {
    margin-bottom: 0.3rem !important;
    font-size: 13px;
}
.right-container .right_form{
    flex-basis: 46%;
}
.container_order{
    margin-top: 40px;
}
.container_order h4{
    margin-bottom: 20px;
    font-size: 20px;
}
.container_order table{
    border:0.5px solid rgb(218, 218, 218);
    width: 100%;
}
.container_order table tr td, th{
    padding:5px 10px;
    border:0.5px solid rgb(218, 218, 218) !important;
}
.container_order table tr td:nth-child(2){
    color:#ed0a21
}
.container_order table tr td{
    font-size: 14px;
}
.bank{
    margin-top:30px;
}
.bank ul{
    width: 100%;
    padding:25px 20px;
    border:1px solid rgb(219, 219, 219);
}
.bank ul p{
    font-size: 14px;
    color:#000;
}
.bank ul li{
    padding:10px 15px;
    background: rgb(230, 230, 230);
}
.bank ul li a{
    font-size: 13px;
}
.bank p{
    font-size: 14px;
    color:#888888;
}
.bank .form-check label{
    font-size: 15px;
    color:#000;
}
.check-btn{
    padding:15px 0px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.check-btn button {
    padding: 10px 20px;
    background: #193d73;
    color: #fff;
    border: none;
}
.check-btn button:hover{
    transition: 0.3s;
    background: #ed0a21;
}



.cartTotal{
    width: 100%;
    margin:50px auto;
}
.cartTotal h3{
    text-align: right;
    margin-bottom: 25px;
    font-size: 20px;
}
.cartTotal .total{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.cartTotal .totalItem{
    width: 50%;
    display: flex;
    justify-content: space-between;
    border:0.3px solid #ccc;
}
.total .left-total{
    flex-basis:50%;
    padding:7px 10px;
    background:#f5f0f0;
}
.total .right-total{
    flex-basis:50%;
    padding:7px 10px;
    color:#ed0a21;
}
.total a{
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    background: #b80a1b;
    color:#fff;
    transition: 0.3s;
}
.total a:hover{
    color:#fff;
    background: #193d73;
}




@media only screen and (max-width: 1700px){
    .CheckoutPage {
        width: 80%;
    }
    .containers {
        width: 80%;
    }
}

@media only screen and (max-width: 1600px){
    .CheckoutPage {
        width: 90%;
    }
    /* containers */
    .containers {
        width: 90%;
    }
    .card-body .rate {
        left: -110px !important;
    }

}

@media only screen and (max-width: 1500px){
    /*containers  */
    .right-container {
        flex-basis: 76%;
    }
    .container-products .card {
        flex-basis: 27%;
    }
}

@media only screen and (max-width: 1500px){
    /*containers  */
    .right-container {
        flex-basis: 76%;
    }
    .container-products .card {
        flex-basis: 27%;
    }
}

@media only screen and (max-width: 1400px){
    /* containers */
    .left-container {
        flex-basis: 24% !important;
    }
    .right-container {
        flex-basis: 72%;
    }
    .container-products .card {
        flex-basis: 30%;
    }
}


@media only screen and (max-width: 1300px) {
   /* containers */
   .containers{
     flex-wrap: wrap;
     flex-direction: column-reverse;
   }
   .left-container {
    flex-basis: 100%;
    margin-top: 40px;
    }
    .right-container {
        flex-basis: 100%;
    }
    .container-products .card img {
        width: 80%;
        height: auto !important;
        object-fit: cover;
        object-position: center;
        margin: 0px auto;
    }
    .cartTotal .totalItem {
        width: 100%;
    }

}

@media only screen and (max-width: 1024px) {
    .forms-checkout .left_form {
        flex-basis: 100%;
    }
    .right-container .right_form {
        flex-basis: 100%;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .container_order thead, tbody, th, td, tr {
        text-align: left !important;
    }
}

@media only screen and (max-width: 600px) {
    /* containers */
    .right-container .title {
        display: block;
        height: auto;
    }
    .title li {
        margin-right: 0px ;
    }
    .activeLi {
        top: 0px;
    }
    .container-products .card {
        flex-basis: 100%;
    }
    /*  */
    .form_group .left-input, .right-input {
        flex-basis: 100%;
        margin: 10px 0px;
    }
}
