@font-face {
    font-family: Muli;
    src: url("../fonts/Muli-Light.ttf");
}
@font-face {
    font-family: Muli;
    src: url("../fonts/Muli-Light.ttf");
}
.profilePage{
    width: 74%;
    height: auto;
    margin: 30px auto 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profilePage p a{
    font-size: 15px;
    color:#000;
}
.profilePage p a:hover{
    color:#ed0a21;
    transition: 0.2s;
}


/* containers-Profil */
.containers-Profil{
    width: 74%;
    margin:30px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.containers-Profil .left_itm{
    flex-basis: 20%;
    padding:15px 5px;
}
.containers-Profil .profil-box{
    flex-basis: 60%;
    margin-bottom: 12px;
    border:1px solid rgb(228, 228, 228);
    border-radius: 6px;
    word-spacing: 5px;
}
.containers-Profil .profil-box a{
    width: 100%;
    display: block;
    padding:10px 15px;
    color:#000;
    border-radius: 6px;
}
.containers-Profil .profil-box a:hover{
    background: #1d4684;
    color:#fff !important;
    transition: 0.3s;
    cursor: pointer;
}
.activeList{
    background: #1d4684;
    color:#fff !important;
}
.containers-Profil .right_itm{
    flex-basis: 75%;
    padding:15px 0px;
}
.right_itm label{
    font-size: 14px;
}
/*  */
.dashboard{
    display: block;
}
.dashboard h3{
    margin-bottom: 20px;
    font-weight: 700;
}
.dashboard p{
    line-height: 25px;
}
/*orders  */
.orders{
    display: none;
}
.orders h3{
    margin-bottom: 20px;
    font-weight: 700;
}
.orders table td a{
    display: inline-block;
    padding: 3px 10px;
    background: #1d4684;
    color:#fff ;
    border-radius: 2px;
}

/* password */
.password{
    display: none;
}
.password h3{
    margin-bottom: 25px;
    font-weight: 700;
}
.password form{
    width:60%;
}
.password form .form_group{
    margin-bottom: 20px;
}
.password form .form_group input{
    height: 45px;
}
.form_group button{
    padding: 10px 20px;
    background: #193d73;
    color: #fff;
    border: none;
    margin-top:10px;
}
.form_group button:hover{
    background: #ed0a21;
    transition: 0.4s;
}
/* account */
.account{
   display: none;
}
.account h3{
    margin-bottom: 25px;
    font-weight: 700;
}
.account form{
    width:60%;
}
.account form .form_group{
    margin-bottom: 20px;
}
.account form .form_group input{
    height: 45px;
}
.form_group button{
    padding: 10px 20px;
    background: #193d73;
    color: #fff;
    border: none;
    margin-top:10px;
}
.form_group button:hover{
    background: #ed0a21;
    transition: 0.4s;
}


@media only screen and (max-width: 1700px){
    .profilePage {
        width: 80%;       
    }
    .containers-Profil {
        width: 80%;       
    }
}

@media only screen and (max-width: 1600px){
    .profilePage {
        width: 90%;       
    }
    /* containers-Profil */
    .containers-Profil {
        width: 90%;
    }
}

@media only screen and (max-width: 1400px){
    .containers-Profil .left_itm {
        flex-basis: 23%;
    }
    .containers-Profil .right_itm {
        flex-basis: 72%;
    }
}

@media only screen and (max-width: 1200px){
    .containers-Profil .left_itm {
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }
    .containers-Profil .profil-box {
        flex-basis: 48%;
    }
    .containers-Profil .profil-box a {
        padding: 12px 15px;
    }
    .containers-Profil .right_itm {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 600px){
    .containers-Profil .profil-box {
        flex-basis: 100%;
    }
    .password form {
        width: 100%;
    }
    .account form {
        width: 100%;
    }
    .orders .table-hover tbody tr {
        margin: 30px 0px;
        border: 1px solid #ccc;
    }
}